.card {
    font-family: 'Noto sans';
    width: 800px ;
    margin-top: 40px;
    border-color: rgba(68, 68, 68, 0.262);
}

h1 {
    margin-top: 8px;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 10px;
}

.line {
    border-bottom: solid 1px rgb(220, 220, 220);
    margin-top: 30px;
}

.employer {
    font-weight: 500;
    margin-left: 10px;
}

.bxs-business {
    margin-top: 4px;
    font-size: 30px;
}

.country {
    margin-left: 45px;
    margin-top: -28px;
}
