
<mat-dialog-content class="mat-typography">
<div class="container tw-flex tw-justify-center">
    <div class="card">
        <form [formGroup]="formValue" (ngSubmit)="onSubmit()">
            <div class="tw-flex tw-justify-center">
                <div>
                    <p class="tw-text-center" style="font-weight: 700; margin-top: 20px;">Company Name</p>
                    <input type="text"  formControlName="companyName">        
                    <p class="tw-text-center" style="font-weight: 700; margin-top: 20px;">Job Title</p>
                    <input type="text"  formControlName="jobTitle">        
                    <p class="tw-text-center" style="font-weight: 700; margin-top: 20px;">Country and State</p>
                    <input type="text" placeholder="State, Country"  formControlName="country_State">        
                    <p class="tw-text-center" style="font-weight: 700; margin-top: 20px;">Years Wages</p>
                    <input type="text" placeholder="Ex. 35k $" formControlName="year_wages">        
                    <p class="tw-text-center" style="font-weight: 700; margin-top: 20px;">Years require experience</p>
                    <input type="text"  formControlName="years_require_experience">        
                    <p class="tw-text-center" style="font-weight: 700; margin-top: 20px;">Job description</p>
                    <textarea formControlName="job_description" ></textarea>
                    <p class="tw-text-center" style="font-weight: 700; margin-top: 20px;">Job location</p>
                    <input type="text"  formControlName="job_location">     
                    <p class="tw-text-center" style="font-weight: 700; margin-top: 20px;">Company description</p>
                    <textarea formControlName="company_description"></textarea>
                    <p class="tw-text-center" style="font-weight: 700; margin-top: 20px;">Responsabilities</p>
                    <textarea formControlName="responsabilities" ></textarea>
                    <p class="tw-text-center" style="font-weight: 700; margin-top: 20px;">Requirement for this role</p>
                    <textarea formControlName="requirements_for_role" ></textarea>
                    <p class="tw-text-center" style="font-weight: 700; margin-top: 10px;">Start date</p>
                    <input type="date"  formControlName="start_date"required>
                </div>
            </div>
            <div class="tw-flex tw-justify-center">
                <button class="btn btn-primary tw-mt-16 tw-mb-24"> Submit the job</button>
            </div>
        </form>
    </div>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>close</button>
  </mat-dialog-actions>
<!-- </ng-template> -->

