.navbar {
    font-family: "Noto Sans";
}
.navbar-brand {
    font-weight: 800;
    font-size: 42;
}

.nav-item a:hover {
    text-decoration: underline #2557a7 2px;
    color: #2557a7;
    transition: 0.4s ease-in-out ;
}

